<div class="container p-4">
    <div class="row">
        {{#each coches}}
            <div class="col-md-3 mb-3">
                <div class="card text-center">
                    <div class="card-body">                          

                        <img src="{{url}}" alt="" class="card-img-top mx-auto m-2 w-50" />    
                        <p class="m-2">{{marca}}</p>
                        <p class="m-2">{{modelo}}</p>
                        <p class="m-2">{{potencia}}</p>
                        <a href="/links/delete/{{id}}" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Eliminar Coche</a>
                        <a href="/links/edit/{{id}}" class="btn btn-secondary"><i class="fas fa-pencil-alt"></i> Editar</a>
                    </div>
                </div>
            </div>
        {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>There are not coches saved yet.</p>
                    <a href="/links/add" class="btn btn-primary">Create One!</a>
                </div>
            </div>                

        {{/each}}
    </div>
</div>